/* Page */
body {
  display: block;
  /* justify-content: center; */
  /* overflow: hidden; */
}

/* Board */
.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: #2d2357;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}
.keyboard--hidden {
  bottom: -100%;
}


/* Keys */
.keyboard__keys {
  text-align: center;
}
.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
  width: 12%;
}
.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}


/* Caps Lock */
.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}


/* Color Wheel Menu */
/* Define the standard filters, also, for compatibility */

input {
  position: absolute; 
  display: none;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu {
  position: absolute;
  right: 25%;
  top: 24%;
}

.btn {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.menu-btn {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.material-icons.md-36 { 
  font-size: 36px;
  color: #000000;
}

.btn {
  background: #ECEFF1;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:not(:first-child) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: -2;
  
  -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

.btn:nth-child(2) { top:0px;-webkit-transition-delay: 0s; transition-delay: 0s }
.btn:nth-child(3) { top:0px;left:0px;-webkit-transition-delay: 0.1s; transition-delay: 0.1s }
.btn:nth-child(4) { left:0px;;-webkit-transition-delay: 0.2s; transition-delay: 0.2s }
.btn:nth-child(5) { top:0px;left:0px;-webkit-transition-delay: 0.3s; transition-delay: 0.3s }
.btn:nth-child(6) { top:0px;-webkit-transition-delay: 0.4s; transition-delay: 0.4s }
.btn:nth-child(7) { top:0px;left:0px;-webkit-transition-delay: 0.5s; transition-delay: 0.5s }
.btn:nth-child(8) { left:0px;-webkit-transition-delay: 0.6s; transition-delay: 0.6s }
.btn:nth-child(9) { top:0px;left:0px;-webkit-transition-delay: 0.7s; transition-delay: 0.7s }

input#toggle:checked ~ #show-menu .btn:nth-child(2) {
  top: -150px;
  opacity: 1;
  background-color: #480355;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(3) {
  top: -100px;
  left: 100px;
  opacity: 1;
  background-color: #01295F;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(4) {
  left: 150px;
  opacity: 1;
  background-color: #B87D00;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(5) {
  top: 100px;
  left: 100px;
  opacity: 1;
  background-color: #849324;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(6) {
  top: 150px;
  opacity: 1;
  background-color: #1C3738;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(7) {
  top: 100px;
  left: -100px;
  opacity: 1;
  background-color: #7E998A;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(8) {
  left: -150px;
  opacity: 1;
  background-color: #3E2A35;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn:nth-child(9) {
  top: -100px;
  left: -100px;
  opacity: 1;
  background-color: #780116;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuBtn, .closeBtn {
  position: absolute;
  transition: all 0.3s ease;
}

.closeBtn {
  transform: translateY(50px);
  opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .menuBtn {
  transform: translateY(-50px);
  opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .closeBtn {
  transform: translateY(0px);
  opacity: 1;
}
